@import './tailwind.css';

/* CSS HEX */
/*
--sky-magenta: #e574bcff;
--persian-pink: #ea84c9ff;
--plum-web: #ef94d5ff;
--plum-web-2: #f9b4edff;
--mauve: #eabaf6ff;
--mauve-2: #dabfffff;
--periwinkle: #c4c7ffff;
--jordy-blue: #adcfffff;
--light-sky-blue: #96d7ffff;
--pale-azure: #7fdeffff;
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
